@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Red Hat Display', sans-serif;    
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.container {
    background-image: url(./images/illustration-hero.svg);
    background-color: white;
    border-radius: 20px;
    font-size: 0.7rem;
    padding: 40px;
    height: 550px;
    width: 390px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleBox {
    text-align: center;
    margin: 160px auto 20px;    
}

h1 {
    font-weight: 900;
    margin: 10px;
}

p{
    font-size: 0.9rem;
    opacity: 70%;
    color: hsl(224, 23%, 55%);
}

.btn{
    font-weight: 600;
    font-size: 0.8rem;
}

.payBtn{
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 15px;
    width: 100%;
    border-radius: 7px;
    border: none;
    margin: 25px auto 20px;
    cursor: pointer;
}

.payBtn:hover{
    transition: box-shadow 0.2s linear;
    box-shadow: 12px 12px 12px 0.5px rgba(0, 0, 255, .2);
    background-color: #766CF1;
}

.iconDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.annualPlan{
    margin: 10px;
}

.annualPlan p{
    font-size: 0.7rem;
}

.music{
    padding: 12px;
    background-color: hsl(225, 100%, 94%);
    border-radius: 100%;
}

.cancel {
    border: none;
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    cursor: pointer;
}

.planBox {
    background-color: hsl(225, 100%, 98%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 0.7rem;
}

a:hover {
    color: #766CF1;
    font-style: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}